/* hompage.js style sheet  */

.Gr {
  /* background-color: #000000; */
  color: #b5e550;
  font-size: 25px;
}
.Bl {
  color: #0779e4;
  /* 0028ff blue force */
}

.Chif_tit {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: serif;
  color: #0779e4;
}
/* chiffres.js  */

/* ChiffreCard.js Styling sheet  */

.Big-number {
  font-size: 40px;
  font-family: basic;
  font-weight: bold;
  color: #b5e550;
}

.customText {
  text-align: center;
  /* border: 3px solid black; */
  font-size: 20px;
  font-family: texti;
  /* color: #0779e4; */
}

@font-face {
  font-family: texti;
  src: url("./Assets/Fonts/OptimusPrinceps/OptimusPrinceps.ttf");
}

/* CardShape.js  */
.Bl-tit {
  color: #0779e4;
}
.Bl-btn {
  background-color: #000;
}

/* InvBloc.js */

.Bl-bg {
  background-color: #0779e4;
}
.Gr-btn {
  background-color: #b5e550;
  color: #000;
}

.Gr-btn:hover {
  background-color: #000;
}

/* Footer.js */

.Gr-ftr-bg {
  background-color: #b5e550;
}

.Ftr-marg-0 {
  margin-bottom: 0px;
  color: black;
}

strong {
  color: #0779e4;
}

.p-b-5 {
  padding-bottom: 5px;
}

/* FormAdmin.js  */

.container-div {
  background-color: #0779e4;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
}

/* FormAdmin.js  */
.dangerous {
  color: #f48fb1;
  font-weight: bold;
  /* border:0.2em solid black; */
}

/* LearnPage.js */

.form-container {
  /* border: 0.2em black solid; */
  text-align: center;
  margin-top: 50px;
  padding: 50px;
  width: auto;
}

/* EcolePage.js*/
/* .head-container{
  
} */
.Titre {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  /* color: black; */
  font-family: Mostserrat;
  text-align: center;
}
.Sous-titre {
  font-size: 20px;
  font-weight: bold;
  font-family: Mostserrat;
}

@font-face {
  font-family: Montserrat;
  src: url("./Assets/Fonts/Montserrat/Montserrat-Medium.ttf");
}

/* for all page  */

/* Margin  */
.m-100 {
  margin: 100;
}
.ml-13pc {
  margin-left: 13%;
}
.ml-9pc {
  margin-left: 9%;
}
.mt-100 {
  margin-top: 100px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-50 {
  margin-bottom: 50px;
}
/*padding*/
.pr-20pc {
  padding-right: 20%;
}
/* Height */
.h-500 {
  height: 500px;
}
.h-400 {
  height: 400px;
}
.h-300 {
  height: 300px;
}
.h-200 {
  height: 200px;
}
.h-100 {
  height: 100px;
}
.h-100pc {
  height: 100%;
}

.pp {
  columns: #000000;
}
/* Width */
.w-100pc {
  width: 100%;
}
.w-50pc {
  width: 50%;
}
.w-80pc {
  widows: 80%;
}
.w-75pc {
  width: 75%;
}
.w-70pc {
  width: 70%;
}
.w-60pc {
  width: 60%;
}
.w-45pc {
  width: 45%;
}
.w-33pc {
  width: 33%;
}
.w-34pc {
  width: 34%;
}
.w-25pc {
  width: 34%;
}
.w-20pc {
  width: 20%;
}
.w-900px {
  width: 900px;
}
/* Text align */
.A-center {
  text-align: center;
}
/* color */
.f-black {
  color: black;
}

.Bl {
  color: #0779e4;
}
.f-Gr {
  color: #b5e550;
}

/* Background-color */
.color-Gr {
  background-color: #b5e550;
}
.coor {
  background-color: #0779e4;
}
/* opacity */
.o-50 {
  opacity: 50%;
}

.vertical-center {
  -ms-transform: translateY(25%);
  transform: translateY(25%);
}

.vertical-center-text {
  -ms-transform: translateY(33%);
  transform: translateY(33%);
}

.cursor-df:hover {
  cursor: default;
}

.no-border-left {
  border-left: none;
}
.btn-ajout {
  width: 90px;
  height: 40px;
}
